body{
    font-family: 'Lato', sans-serif; }
.sri {
    font-weight: bold;
    color: black;}
a{
    display: grid;
    place-items: center;
    font-weight: bold;
    color: black;}
h1 {
text-align: center;
}
p{text-align: center}